:root {
  --primary-white: #fafafa;
  --primary-orange: #f9ab00;
  --primary-green: #008000;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--primary-white);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/*********************************NAVBAR***************************/
nav {
  z-index: 2;
}

.logo {
  width: 5rem;
  height: 4rem;
}

/********************************MENU LINKS************************/
nav a.nav-link {
  font-weight: 500;
  letter-spacing: 0.0375px;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav>li>a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-dadrk) !important;
  border-top: 019rem solid var(--primary-dark);
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 6rem;
}

.navbar-nav>li>a:active {
  border-top: 0.19rem solid var(--primary-green);
}

.navbar-nav>li>a:hover {
  border-top: 0.19rem solid var(--primary-green);
}

/********************************HEADER***********************/

.header-wrap {
  position: relative;
  background: url(./laptopCoding.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  z-index: 1;
}

.main-info h1 {
  color: var(--primary-green);
  text-transform: uppercase;
}

/********************************ABOUT ME*************************/
.aboutMe-wrap {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  background-color: #E8E8E8;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh
}

.paragraph-info {
  display: inline-block;
  position: relative;
  text-align: center;
  background-color: #E0E0E0;
  text-transform: initial;
  border: 2px solid black;
  padding: 10px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2);
  width: 444px;
  height: 280px;
  overflow: hidden;
  white-space: normal;
}

/********************************TYPED TEXT***********************/
.typed-text {
  font-size: 2rem;
  color: var(--primary-green);
}

/*******************************CLOCK*****************************/