.container_exp {
  padding: 20px;
  color:#ffffff;
}

.title_exp {
  text-align: left; 
  margin-bottom: 20px;
}

.content_exp {
  display: flex; 
  flex-direction: row;
  align-items: flex-start; 
  gap: 50px;
  width: 100%;
}

.skills {
  flex: 1; 
  max-width: 45%;
}

.history {
  flex: 1; 
  max-width: 55%;
  list-style: none; 
  padding: 0;
  margin: 0;
}

.previousJobs {
  margin-bottom: 20px;
}

.skill {
  display: inline-block;
  text-align: center;
  margin: 24px;
}

.skillImageContainer img {
  width: 55px;
  height: 50px;
}

.historyItem {
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
  gap: 15px;
}
.headerRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; 
  width: 100%;
  margin-bottom: 5px;
}

.companyName {
  font-size: 1.2rem;
  font-weight: bold;
  color: #ffffff;
  margin: 0;
}

.dates {
  color: #ffffff; 
  font-size: 0.9rem;
  white-space: nowrap;
  text-align: right;
  margin-left: auto; 
}

.locationType {
  font-size: 0.8rem;
  color: #fcfcfc; 
  margin-bottom: 5px;
}

.role {
  font-size: 1rem;
  font-weight: 500;
  margin: 5px 0;
  color: #ffffff;
}

.introParagraph {
  margin: 10px 0;
  color: #ffffff;
}


.historyItem img {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.historyItemDetails h3 {
  margin: 0;
  font-size: 1.1rem;
}

.historyItemDetails p {
  margin: 5px 0;
}

.pTagDates {
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 10px;
}

.historyItemDetails ul {
  margin: 0;
  padding-left: 20px;
}


@media (max-width: 768px) {
  .content_exp {
    flex-direction: column;
  }

  .skills,
  .history {
    max-width: 100%;
  }
}
