@import "../../vars.css";

.navbar_navBar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 61px;
    z-index: 2;
    margin: 0 10%;
}

.title_navBar {
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-text);
}

<<<<<<< HEAD
<<<<<<< Updated upstream
.menu {
=======
.menu_navBar {
>>>>>>> Experience
    display: flex;
=======
.title_navBar:hover {
    color: dodgerblue
}

.menu_navBar {
    display: none;
    cursor: pointer;
    position: relative;
>>>>>>> Stashed changes
}

.menuItems {
    display: flex;
    gap: 47px;
    list-style: none;
}

.menuItems a {
    font-size: 25px;
    color: var(--color-text);
    text-decoration: none;
}

.menuItems a:hover {
    color: dodgerblue;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    background-color: white;
}

@media screen and (max-width:830px) {
    .menu_navBar {
        display: block;
        cursor: pointer;
    }

    .nav_navBar {
        flex-direction: column;
        align-items: flex-start;
    }

    .menuItems {
        display: none;
        flex-direction: column;
        position: absolute;
        gap: 13px;
        top: 100%;
        right: 0;
        border-radius: 10px;
        background: rgb(25, 55, 109);
        background: linear-gradient(0deg,
                rgba(25, 55, 109, 0.2) 0%,
                rgba(25, 55, 109, 1) 100%);
        padding: 24px 33px;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
    }
<<<<<<< HEAD
<<<<<<< Updated upstream
    .menuOpen{
=======

    .menuItems.active {
>>>>>>> Stashed changes
=======

    .menuOpen {
>>>>>>> Experience
        display: flex;
        z-index: 1;
    }

}