@import "../../vars.css";

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.title_projects {
    justify-content: center;
    font-family: var(--font-family);
    font-weight: 900;
    text-align: center;
    font-size: 55px;
    color: var(--color-text);
    margin-bottom: 33px;
}


.carousel {
    display: flex;
    align-items: center;
}

.arrow {
    font-size: 22px;
    border-radius: 20px;
    color: var(--color-dark);
    cursor: pointer;
}

.projectsWrapper {
    display: flex;
    transition: transform 0.5s ease-in;
    gap: 30px;
}

.project {
    display: flex;
    display: inline;
    text-align: center;
    font-family: var(--font-family);
    color: var(--color-text);
    font-size: 17px;
    margin: 0 10px;
    opacity: 0.55;
    transition: opacity 0.5s ease-in;
}

.project.active {
    opacity: 1;
}

.paragraphs p {
    font-size: medium;
    padding-top: 6px;
    word-spacing: 1px;
}



@media screen and (max-width:830px) {
    .container {
        flex-direction: column;
        gap: 23px;
    }

    .projectsWrapper {
        flex-direction: column;
        gap: 15px;
        width: 100%;
    }

    .project {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .projects a {
        align-items: center;
    }

    .carousel {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .arrow {
        margin: 0 5px;
    }
}