@import "../../vars.css";


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.projectsTitle {
    justify-content: center;
    font-family: var(--font-family);
    font-weight: 900;
    font-size: 55px;
    color: var(--color-text);
    margin-bottom: 33px;
}

.projects {
    display: flex;
    gap: 30px;
}

.project {
    display: flex;
    display: inline;
    text-align: center;
    font-family: var(--font-family);
    color: var(--color-text);
    font-size: 17px;
    margin: 0 10px;
    opacity: 0.6;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    transform: scale(1);
}

.project:hover {
    opacity: 1;
    transform: scale(1.2);
}

.paragraphs {
    width: 300px;
    border: 2px solid transparent;
    padding: 10px;
    overflow: hidden;
    word-wrap: break-word;
    word-spacing: 0.3px;
}

.paragraphs p:first-child {
    margin-top: 0;
}

.paragraphs p:nth-child(2) {
    margin-top: 3px;
}

.paragraphs p:nth-child(3) {
    margin-top: 3px;
}



@media screen and (max-width: 830px) {
    .projects {
        flex-direction: column;
    }

    .project {
        margin: 20px;
        transform: scale(1);
        transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    }

    .project:hover {
        opacity: 1;
        transform: scale(1.2);
    }
}