@import "../../vars.css";

.certificateContainer {
    position: relative;
}

.topBlur,
.bottomBlur {
    position: absolute;
}

.topBlur {
    width: 60vw;
    height: 100vw;
    min-width: 200px;
    min-height: 150px;
    left: -35vw;
    bottom: -95vw;
    border-radius: 764px;
    background-color: rgba(105, 3, 100, 0.281);
    filter: blur(100px);
    z-index: 0;
}

.bottomBlur {
    width: 60vw;
    height: 100vw;
    min-width: 200px;
    min-height: 150px;
    top: 280px;
    right: -35vw;
    border-radius: 764px;
    background-color: rgba(105, 3, 100, 0.329);
    filter: blur(100px);
    z-index: 0;
}

.certificateTitle {
    display: flex;
    font-family: var(--font-family);
    font-weight: 900;
    justify-content: center;
    text-align: center;
    font-size: 55px;
    color: var(--color-text);
    margin-bottom: 20px;
    margin-top: 10px;

}

.certificateNames {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    gap: 10px;
    font-family: var(--font-family);
    color: var(--color-text);
    font-size: 20px;
    list-style: none;
    padding-top: 2px;

}

.certificate {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    padding-bottom: 10px;
    border: 1px solid;
    gap: 5px;
    margin-bottom: 2px;
    height: 100%;
    width: 30%;
    min-width: 300px;
    opacity: 0.8;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.certificate h3 {
    display: flex;
    text-align: left;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 20px;
    margin: 5px;
    text-decoration: underline solid white;
}


.certificate p {
    font-size: 20px;
    margin-left: 5px;

}

.certificate a {
    color: dodgerblue;
    display: flex;
    position: inherit;
    cursor: pointer;
    margin: 5px;
    text-decoration: none;
}

.certificationSkills {
    font-family: var(--font-family);
    font-size: 20px;
    margin: 10px;
}

.skillsList {
    font-size: 14px;
    margin: 10px;
}


.certificate a:hover {
    text-decoration: underline;

}

.certificate:hover {
    opacity: 1;
    transform: scale(1.02);
}