@import "../../vars.css";

.footerContainer {
    color: var(--color-text);
    background-color: var(--color-secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 30px;

}

.text h2 {
    font-size: 30px;
    font-weight: 700px;
    letter-spacing: 4px;
    margin-bottom: 20px;
}

.links {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    gap: 66px;
}

.link {
    display: flex;
    align-items: center;
    gap: 10px;
}

.links a,
.links p {
    color: var(--color-text);
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    padding-left: 5px;
}

.links p {
    display: inline;
}

.links img {
    vertical-align: middle;
    height: 20px;
}




@media screen and (max-width:830px) {

    .footerContainer {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px;
        gap: 20px;
    }

    .links {
        flex-direction: column;
        gap: 20px;
    }


}